[submodule "17-Color-Game-Project"]
	path = 17-Color-Game-Project
	url = https://github.com/Kinjalrk2k/RGB-Color-Game
[submodule "20-Todo-List-Project"]
	path = 20-Todo-List-Project
	url = https://github.com/Kinjalrk2k/Todo-List
[submodule "21-Patatap-Clone"]
	path = 21-Patatap-Clone
	url = https://github.com/Kinjalrk2k/Patatap-Clone
[submodule "28-YelpCamp-Basics"]
	path = 28-YelpCamp-Basics
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v1
[submodule "31-RESTful-Routing"]
	path = 31-RESTful-Routing
	url = https://github.com/Kinjalrk2k/RESTful-Blog
[submodule "30-YelpCamp-Data-Persistence"]
	path = 30-YelpCamp-Data-Persistence
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v2
[submodule "33-YelpCamp-Comments/v3"]
	path = 33-YelpCamp-Comments/v3
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v3
[submodule "33-YelpCamp-Comments/v4"]
	path = 33-YelpCamp-Comments/v4
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v4
[submodule "33-YelpCamp-Comments/v5"]
	path = 33-YelpCamp-Comments/v5
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v5
[submodule "34-Authentication"]
	path = 34-Authentication
	url = https://github.com/Kinjalrk2k/Authenticated-Dashboard
[submodule "35-YelpCamp-Adding-Authentication"]
	path = 35-YelpCamp-Adding-Authentication
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v6
[submodule "36-YelpCamp-Cleaning-Up/v7"]
	path = 36-YelpCamp-Cleaning-Up/v7
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v7
[submodule "36-YelpCamp-Cleaning-Up/v8"]
	path = 36-YelpCamp-Cleaning-Up/v8
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v8
[submodule "36-YelpCamp-Cleaning-Up/v9"]
	path = 36-YelpCamp-Cleaning-Up/v9
	url = https://github.com/Kinjalrk2k/YelpCamp
	branch = v9
