[submodule "17-Color-Game-Project"]
	path = 17-Color-Game-Project
	url = https://github.com/Kinjalrk2k/RGB-Color-Game
[submodule "20-Todo-List-Project"]
	path = 20-Todo-List-Project
	url = https://github.com/Kinjalrk2k/Todo-List
[submodule "21-Patatap-Clone"]
	path = 21-Patatap-Clone
	url = https://github.com/Kinjalrk2k/Patatap-Clone
